@font-face {
    font-family: Castle;
    src: url("../assets/bont.otf");
}
*{
    margin: 0;
    box-sizing: border-box;
    color: inherit;
}

:root{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}
.imageTall{
    display: flex;
    align-items: center;
}

img{
    width: 100%;
}
.imgLady{
    height: 500px;
    margin-bottom: 40px;
    width: 100%;
    background: url(../assets/Lady.jpg);
    background-size: cover;
}

main{
    min-height: 100vh;
    /* color: #fff; */
}
section{
    min-height: 100vh;
}
h1{
    font-size: 4rem;
    font-family: Castle;
}
h2{
    font-size: 3rem;
    font-family: Castle;
    line-height: 60px;
}
p{
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
button{
    background: black;
    color: white;
    padding: 20px 30px;
    width: fit-content;
    height: fit-content;
    border: none;
    font-size: 18px;
    font-weight: 500;
}
nav{
    padding: 0px 50px;  
    /* position: fixed;   */
    width: 100%;
}
.logo h3{
    font-size: 2rem;
    font-family: Castle;

}
.navWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.images{
    height: 160vh;
    margin-top: 60px;
}
.imgWrap{
    position: relative;
    z-index: -1;
}
.imgBoxs{
    position: absolute;
}
.imgBoxs:nth-child(1){
    background: black;
    transform: translateY(10vh) translateX(2vw);
    height: 800px;
    width: 450px;
}
.imgBoxs:nth-child(2){
    background: red;
    transform: translateY(50vh) translateX(70vw);

    height: 400px;
    width: 350px;
}
.imgBoxs:nth-child(3){
    background: green;
    transform: translateY(96vh) translateX(50vw);

    height: 300px;
    width: 450px;
}



.imgBoxs:nth-child(5){
    transform: translateY(20vh) translateX(30vw);
    height: 250px;
    width:450px;
    background: blue;

}
.textImg{
    height: 150vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textImgWrap{

}
.textImgWrap h1{ 
    padding-bottom: 30px;
    font-size: 8rem;
}

.hero{
    display: flex;
    align-items: flex-end;
    color: black;
    background-image: url('../assets/abstract-triangle-violet-texture-background.jpg');
}
.HeroTextWrap{
    width: 100%;
    padding: 60px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}
.HeroTextWrap h1{
    color: white;
    text-align: center;
}

.HeroTextWrap p{
    width: 420px;
    padding: 30px 0;
}

.popText{
    display: grid;
    place-content: center;
}
.popWrap{
    width: 800px;
}

.popWrap h2{
    padding-bottom: 50px;
}

.intro{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(0, 0, 0);
}


/* Hero */

.posts{

}
.postWrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imageTall{
    height: 100vh;
    background: black;
}

.textSection{
    display: grid;
    place-content: center;
}
.textWrapSec{
    width: 400px;
}
.textWrapSec h1{
    padding: 0 0 30px;
}
.textWrapSec p{
    text-align: justify;
}
.conBttn{
    display: flex;
    gap: 20px;
}
.controlsSec{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controlsSec p{
    font-size: 30px;
}
.conBox{
    height: 60px;
    width: 60px;
    background: black;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footertop{
    height: 150vh;
    background: black;
}
.socialBox{
    height: 40px;
    width: 40px;
    background: black;

}

.footerbottom{
    padding: 60px 50px 20px;
}
.socials{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 50px;
}
.contact{
    text-align: center;
    padding: 10px 0;
}
.contact p:nth-child(1){
    font-size: 20px;
}
.footerDel{
    display: flex;
    justify-content: space-between;
}


.postForm{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#name{
    border: none;
    margin: 30px 0 0;
    font-size: 3rem;

}
.textarea{
    border: none;
    height: 500px;
    padding: 30px;
    outline: none;
}
.textImgWrap {
    backdrop-filter: blur(4px);
    padding: 40px 0;
}

.boxPosts{
    padding: 0px 80px 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
}
.boxesPosts{
    min-height: 440px;
    width: 350px;
    /* background: black; */
    padding: 30px 25px;
}
.boxesPosts h1{
    font-size: xx-large;
}
.imgBox{
    height: 220px;
    width: 100%;
    background: black;
    margin-bottom: 30px;
}
.footertop{
    background: url('../assets/Lady.jpg') no-repeat;
    background-size: contain;
}
.bttnWrap{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media screen and (max-width: 400px) {
    .boxPosts {
        padding: 0px 30px 60px;
        gap: 10px;
    }
    
    .boxesPosts{
    min-height: 440px;
    width: 450px;
    /* background: black; */
    padding: 30px 0px;
}
    .hero{
        height: 100vh;
    }
    .HeroTextWrap{
        padding: 60px 30px;
    }
    .HeroTextWrap p {
        max-width: 300px;
    }
    nav{
        padding: 0px 0px 0 30px;
    }
    .logo h3{
        font-size: 1rem;
        font-family: Castle;
    
    }
    .popWrap {
        width: initial;
    }
    h2{
        font-size: 1.5rem;
        line-height: 40px;
    }
    .popText  {
        display: block;
        padding: 30px 30px 0;
    }

    .posts{
        padding: 30px 30px 80px;
    }
    .postWrap {
        display: flex;
        flex-direction: column-reverse;
    }
    .textSection {
        display: block;
        place-content: center;
    }
    .textWrapSec {
        width: initial;
    }
    .textWrapSec p {
        text-align: left;
    }
    .imageTall {
        margin-bottom: 40px;
        height: 50vh;
    }
    .imgWrap {
        /* display: none; */
        position: relative;
        z-index: -1;
    }


    .imgBoxs:nth-child(1) {
        transform: translateY(-2vh) translateX(2vw);
        height: 377px;
        width: 322px;
    }
    .imgBoxs:nth-child(5) {
        transform: translateY(15vh) translateX(32vw);
        height: 202px;
        width: 246px;
    }
    .imgBoxs:nth-child(2) {
        transform: translateY(116vh) translateX(29vw);
        height: 232px;
        width: 258px;
    }
    .imgBoxs:nth-child(3) {
        transform: translateY(98vh) translateX(3vw);
        height: 243px;
        width: 213px;
    }
    .bttnWrap{
        display: flex;
        justify-content: center;
    }
    form button{
        width: 100%;
    }
    #name {
        font-size: 2rem;
    }
    
    section {
        min-height: 70vh;
    }
    .popText {
        display: block;
        padding: 88px 30px 0;
    }
}