*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    overflow-x: hidden;
}

body{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: ;
    row-gap: 100px;
}

img{
    width: 300px;
    height: 280px;
}
.card{
    height: fit-content;
    width: fit-content;
}